/* Container principal - centré au milieu de la page */
.resetPassContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Prend toute la hauteur de l'écran */
    margin: 0;
    background-color: #f1f1f1;
}

.LogoReset{
    height: 19px;
    margin-bottom: 50px;
}

.resetPassContent {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titre */
.resetPassTitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Formulaire */
.resetPassForm {
    display: flex;
    flex-direction: column;
}

/* Champs de saisie */
.resetPassInput {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Bouton de soumission */
.resetPassButton {
    padding: 12px;
    background-color: #18538e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resetPassButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.resetPassButton:hover:enabled {
    background-color: #003f73;
}

/* Message d'erreur ou de succès */
.resetPassMessage {
    font-size: 14px;
    margin-top: 20px;
    color: #d9534f; /* Message d'erreur (rouge) */
}

/* Message de succès */
.successMessage {
    color: green; /* Message de succès (vert) */
}

/* Version mobile */
@media (max-width: 600px) {
    .LogoReset {
        height: 19px;
        margin-bottom: 50px;
    }

    .resetPassContent {
        width: 90%;
        padding: 15px;
    }

    .resetPassTitle {
        font-size: 17px;
        color: #003f73;
    }

    .resetPassInput {
        padding: 10px;
        font-size: 14px;
    }

    .resetPassButton {
        padding: 10px;
        font-size: 14px;
    }
}
